/* IMPORT CUSTOM FONT */

@font-face {
    -fx-font-family: "Product Sans";
    src: url("../fonts/Product-Sans-Regular.ttf");
}
@font-face {
    -fx-font-family: "Product Sans Bold";
    src: url("../fonts/Product-Sans-Bold.ttf");
}

* {
    _night0: #2E3440;
    _night3: #4C566A;

    _light0: #D8DEE9;
    _light2: #ECEFF4;

    _dark-blue: #5E81AC;
}




/* BASE */
AnchorPane {
    -fx-background-color: _night0;
}

Label {
    -fx-text-fill: _light2;
}

EdtGrid {
    -fx-border-radius: 5;

    -fx-border-color: _dark-blue;
}

EdtGrid FlowPane {
    -fx-alignment: BASELINE_CENTER;
    -fx-font-size: 15;
    -fx-font-family: "Product Sans";
    -fx-font-weight: normal;

    -fx-border-color: _night3;
    -fx-text-fill: _light2;
}

Pane {
    -fx-alignment: center;
}

/* CELL */
.cell {
    -fx-border-style: solid;
    -fx-border-width: 0.3;
    -fx-opacity: 0.5;

    -fx-background-color: _night0;
    -fx-border-color: _light0;
}

.cell_today {
    -fx-opacity: 0.2;
    -fx-border-width: 0.3;

    -fx-background-color: _dark-blue;
    -fx-border-color: _light0;
}



/* SLOT */

.slot {
    -fx-alignment: TOP_LEFT;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Product Sans";
    -fx-font-size: 12;
    -fx-border-width: 0;

    -fx-background-color: _night3;
}

.slot Label{
    -fx-text-fill: _night3;
}

.reduced_slot {
    -fx-font-size: 10;
}




/* DAY */

.day {

}
.day Label {
    -fx-text-fill: _light0;
}
.today {
    -fx-border-radius: 0;

    -fx-background-color: _night3;
}
.today Label {
    -fx-font-family: "Product Sans Bold";

    -fx-text-fill: _light0;
}



/* HOUR */

.hour {
    -fx-alignment: TOP_CENTER;
}
.hour Label {
    -fx-font-size: 12;

    -fx-text-fill: _light0;
}



/* TOP LABEL */

.edtSection {
    -fx-font-size: 14;

    -fx-text-fill: _light0;
}

.edtDate {
    -fx-font-family: "Product Sans Bold";
    -fx-font-size: 19;

    -fx-text-fill: _light2;
}

.accountLabel {
    -fx-font-family: "Product Sans";
    -fx-font-size: 12;

    -fx-text-fill: _light0;
}




/* BUTTONS */
.resetWeekBtn {
    -fx-font-family: "Product Sans Bold";
    -fx-font-size: 20;

    -fx-background-color: _night0;
    -fx-text-fill: _light0;
}
.resetWeekBtn:hover {
    -fx-cursor: pointer;
}


.addBtn {
    -fx-font-family: "Product Sans Bold";
    -fx-border-width: 1;
    -fx-border-radius: 5;

    -fx-text-fill: _light0;
    -fx-background-color: _night0;
    -fx-border-color: _light0;
}
.addBtn:hover {
    -fx-background-color: _light0;
    -fx-text-fill: _night0;
}

.weekBtn {
    -fx-font-family: "Product Sans Bold";
    -fx-border-width: 1;
    -fx-border-radius: 5;

    -fx-text-fill: _light0;
    -fx-background-color: _night0;
    -fx-border-color: _light0;
}
.weekBtn:hover {
    -fx-background-color: _light0;
    -fx-text-fill: _night0;
}
.weekBtn:pressed {
    -fx-background-color: _light2;
}


.addSlotPane {
    -fx-border-width: 2;
    -fx-border-radius: 5;

    -fx-background-color: _night3;
    -fx-border-color: _light2;
}

.disconnectBtn {
    -fx-background-color: _night0;
    -fx-text-fill: _light0;
    -fx-opacity: 0.7;
}



.combo-box {
    -fx-border-width: 1;
    -fx-border-radius: 3;

    -fx-background-color: _night0;
    -fx-border-color: _light0;
    -fx-text-fill: _light0;
}

.combo-box .list-cell {
    -fx-background-color: _night0;
    -fx-text-fill: _light0;
    -fx-opacity: 1;
}

.combo-box .list-view {
    -fx-background-color: _night3;
    -fx-text-fill: _light0;
}