/* IMPORT CUSTOM FONT */

@font-face {
    -fx-font-family: "Product Sans";
    src: url("../fonts/Product-Sans-Regular.ttf");
}
@font-face {
    -fx-font-family: "Product Sans Bold";
    src: url("../fonts/Product-Sans-Bold.ttf");
}

* {
    _dark-grey: #0B0C10;
    _grey: #1F2833;
    _light-grey: #C5C6C7;
    _turquoise: #66FCF1;
    _darker-turquoise: #45A29E;
}




/* BASE */
AnchorPane {
    -fx-background-color: _dark-grey;
}

Label {
    -fx-text-fill: _turquoise;
}

EdtGrid {
    -fx-border-color: _turquoise;
    -fx-border-radius: 5;
}

EdtGrid FlowPane {
    -fx-alignment: center;
    -fx-border-color: _darker-turquoise;
    -fx-text-fill: _light-grey;
    -fx-font-size: 15;
    -fx-font-family: "Product Sans";
    -fx-font-weight: normal;
}

/* CELL */
.cell {
    -fx-border-style: solid;
    -fx-border-width: 0.3;
    -fx-border-color: _darker-turquoise;
    -fx-opacity: 0.5;
}

.cell_today {
    -fx-background-color: _turquoise;
    -fx-opacity: 0.2;
    -fx-border-width: 0.3;
    -fx-border-color: _dark-grey;
}



/* SLOT */

.slot {
    -fx-background-color: _darker-turquoise;
    -fx-alignment: center;
    -fx-font-family: "Product Sans Bold";
    -fx-font-size: 14;
    -fx-border-width: 0;
}

.slot Label{
    -fx-text-fill: _dark-grey;
}




/* DAY */

.day {

}
.day Label {
    -fx-text-fill: _darker-turquoise;
}
.today {
    -fx-background-color: _darker-turquoise;
    -fx-border-radius: 5;
}
.today Label {
    -fx-font-family: "Product Sans Bold";
    -fx-text-fill: _dark-grey;
}



/* HOUR */

.hour {
    -fx-alignment: TOP_CENTER;
}
.hour Label {
    -fx-text-fill: _darker-turquoise;
    -fx-font-size: 12;
}



/* TOP LABEL */

.edtSection {
    -fx-text-fill: _darker-turquoise;
    -fx-font-size: 14;
}

.edtDate {
    -fx-font-family: "Product Sans Bold";
    -fx-text-fill: _turquoise;
    -fx-font-size: 19;
}




/* BUTTONS */

.addBtn {
    -fx-font-family: "Product Sans Bold";
    -fx-text-fill: _turquoise;
    -fx-background-color: _dark-grey;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: _turquoise;
}
.addBtn:hover {
    -fx-background-color: _turquoise;
    -fx-text-fill: _dark-grey;
}


.addSlotPane {
    -fx-background-color: _grey;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-border-color: _turquoise;
}


.addOkBtn {
    -fx-font-family: "Product Sans Bold";
    -fx-text-fill: _dark-grey;
    -fx-background-color: _turquoise;
}
.addOkBtn:hover {
    -fx-background-color: _dark-grey;
    -fx-text-fill: _turquoise;
}

.addCancelBtn {
    -fx-border-width: 1;
    -fx-background-color: _grey;
    -fx-font-family: "Product Sans";
    -fx-text-fill: _darker-turquoise;
    -fx-border-color: _darker-turquoise;
}
.addCancelBtn:hover {
    -fx-background-color: _darker-turquoise;
    -fx-text-fill: _grey;
}