/* IMPORT CUSTOM FONT */

@font-face {
    -fx-font-family: "Product Sans";
    src: url("../fonts/Product-Sans-Regular.ttf");
}
@font-face {
    -fx-font-family: "Product Sans Bold";
    src: url("../fonts/Product-Sans-Bold.ttf");
}

* {
    _night0: #2E3440;
    _night3: #4C566A;
    _light0: #D8DEE9;
    _light2: #ECEFF4;
    _dark-blue: #5E81AC;
}

#Back {
    -fx-background-color: _night0;
}


input[type="text"] {
    color: _light0;
}